<h1>Welcome to members-only Lodge!</h1>
<% if logged_in?%>
    <%= link_to "Log out", logout_path, method: :delete %>
    <%= current_user.name %>
    <%= link_to "Write post", new_post_path %>
<% else %>
    <%= link_to "Log in", login_path %>
<% end %>
